body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    font-weight: 100;
}

/* ===========================================
                    HEADERR
==============================================*/
.header {
    width: 100vw;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    background-color: #F7CE3E;
    color: #1a2930;
    margin: 0;
    padding: 20px;

}

table {
    width: 100vw;
    text-align: center;
    margin-top: 10px;
    border-collapse: collapse;

}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #c5c1c0;
    color: white;
}

/* ===========================================
                    COINSEARCH
==============================================*/
.coinSearch {
    display: block;
    width: 100vw;
    text-align: center;
}

.coinSearch button {
    color: #F7CE3E;
    background-color: white;
    border: 1px solid #F7CE3E;
    padding: 10px;
    font-size: large;
    width: 500px;
    max-width: 25%;
    flex: 0 0 auto;
    margin: 20px;
    min-width: 100px;
}

.coinSearch button:hover {
    background-color: #c5c1c0;
    color: #1a2930;
    border: none;
}

.popup {
    display: block;
    padding: 20px;
    background-color: white;
    margin: 20px;
    text-align: center;
}

.dialog {
    width: 100%;
    text-align: left;
}

.dialog label {
    display: block;
}

.dialog input {
    width: 100%;
}

.dialog input {
    position: relative;
    border: 1px solid #1a2930;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.buttons {
    display: block;
    width: 100%;
    margin: 5px;
    margin-top: 20px;

}

.buttons button {
    position: relative;
    margin: 0;
    width: 100% !important;
    display: block;
    box-sizing: border-box;
    max-width: 100%;
}

.buttons button:hover {
    background-color: #c5c1c0;
    color: #1a2930;
    border: none;
}

.listOfNames {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100px;
}

.coinName {
    padding: 10px;
}

.coinName:hover {
    background-color: #c5c1c0;
}
